{%  extends "account/public/base.html.twig" %}

{% block account_public_to_manage_url %}{{ path('account_manage_event',{'account_username':account.username}) }}{% endblock %}

{% block body %}


    <div class="content">

        {%  include 'common/eventViewSwitcher.html.twig' with {'selected':'agenda', 'agendaURL':path('account_public_event',{'account_username':account.username }), 'calendarURL':path('account_public_event_calendar',{'account_username':account.username }) } %}

        {%  include 'common/eventListFilter.html.twig' with {  } %}

        <ul class="mainListEvents">
            {% for eventOccurrence in eventOccurrences %}

                <li class="event" itemscope itemtype="http://schema.org/Event">
                    <h2 itemprop="name">{{  eventOccurrence.event.title }}</h2>
                    {%  if eventOccurrence.event.deleted %}
                        <meta itemprop="eventStatus" content="https://schema.org/EventCancelled" />
                        <div class="deleted">Deleted!</div>
                    {%  elseif eventOccurrence.event.cancelled %}
                        <meta itemprop="eventStatus" content="https://schema.org/EventCancelled" />
                        <div class="cancelled">Cancelled!</div>
                    {%  else %}
                        <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
                    {%  endif %}
                    <p itemprop="description">{{  eventOccurrence.event.description | u.truncate(event_list_description_truncate_limit, event_list_description_truncate_more, event_list_description_truncate_whole_words) | nl2br }}</p>
                    {%  include '/common/eventStartEndLine.html.twig' with { 'data':eventOccurrence, 'timezone': userTimeZone , 'showTimeZone': true } %}
                    <a class="button" itemprop="url"
                            {%  if  eventOccurrence.event.hasReoccurence %}
                                href="{{ path('account_public_event_show_event',{'account_username':account.username,'event_slug': eventOccurrence.event.slug }) }}?startutc={{ eventOccurrence.start('UTC')|date("Y-m-d-H-i-s") }}"
                            {%  else  %}
                                href="{{ path('account_public_event_show_event',{'account_username':account.username,'event_slug': eventOccurrence.event.slug }) }}"
                            {%  endif %}
                    >
                        Details
                    </a>
                </li>

            {%  endfor %}

        </ul>

        {%  include 'account/public/common/share_export.html.twig' with {
        'title': 'Events',
        'share_export_url': url('account_public_event',{'account_username':account.username}),
        'share_export_events_json_url':  url('api1_account_events_json',{'account_id':account.id }),
        'share_export_ical_url':  url('api1_account_events_ical',{'account_id':account.id }),
        } %}

    </div>

{% endblock %}
