{%  extends "account/manage/base.html.twig" %}

{% block title %}Edit Details Event{% endblock %}

{% block body %}

    <div class="content">

        {%  if editableMode == 'imported' %}
            <div>
                Because this event is being managed by an active importer, you can only edit some fields of the event.
                To edit all fields, you must disable the importer.
            </div>
        {%  elseif editableMode == 'sourced' %}
            <div>
                Because this event has been sourced from another account, you can only edit some fields.
                The other fields will update automatically when the source event changes.
            </div>
        {% endif %}

        {{ form_start(form) }}
        {{ form_errors(form) }}

        {%  if 'title' in editableFields or 'description' in editableFields or 'extra_fields' in editableFields or 'url' in editableFields or 'url_tickets' in editableFields %}
            <h4>What?</h4>
        {%  endif %}

        {%  if 'title' in editableFields %}
            {{ form_row(form.title) }}
        {%  endif %}

        {%  if 'description' in editableFields %}
            {{ form_row(form.description) }}
        {%  endif %}

        {%  if 'url' in editableFields %}
            {{ form_row(form.url) }}
        {%  endif %}

        {%  if 'url_tickets' in editableFields %}
            {{ form_row(form.url_tickets) }}
        {%  endif %}

        {%  if 'extra_fields' in editableFields %}
            <div>
                <a href="#" onclick="$('#sectionExtraFields').toggle(); $(this).find('.indicator').toggle(); return false;">
                    <span class="indicator"><i class="fas fa-chevron-right"></i></span><span class="indicator" style="display: none;"><i class="fas fa-chevron-down"></i></span>
                    Extra Fields
                </a>
            </div>
            <div id="sectionExtraFields" style="display: none;">
                {%  for edit_extra_field in edit_extra_fields %}
                    {{ form_row(form[edit_extra_field]) }}
                {%  endfor %}
                {{ form_row(form.new_extra_field_key) }}
                {{ form_row(form.new_extra_field_value) }}
            </div>
        {%  endif %}

        {%  if 'country' in editableFields %}
            <h4>Where?</h4>
            {{ form_row(form.country) }}
        {%  endif %}

        {%  if  'timezone' in editableFields or 'start_end' in editableFields or 'rrule' in editableFields %}
            <h4>When?</h4>
        {%  endif %}

        {%  if 'timezone' in editableFields %}
            {{ form_row(form.timezone) }}
        {%  endif %}

        {%  if 'start_end' in editableFields %}
            {{ form_row(form.start_at) }}
            {{ form_row(form.end_at) }}
        {%  endif %}

        {%  if 'rrule' in editableFields %}
            <div>
                <a href="#" onclick="$('#sectionReoccurring').toggle(); $(this).find('.indicator').toggle(); return false;">
                    <span class="indicator"><i class="fas fa-chevron-right"></i></span><span class="indicator" style="display: none;"><i class="fas fa-chevron-down"></i></span>
                    Reoccurring
                </a>
            </div>
            <div id="sectionReoccurring" style="display: none;">
                {{ form_row(form.rrule) }}
            </div>
        {%  endif %}

        {%  if 'privacy' in editableFields %}
            <h4>Permissions?</h4>
            {{ form_row(form.privacy) }}
        {%  endif %}

        <button type="submit" class="button">Save</button>
        {{ form_end(form) }}
    </div>

{%  endblock %}