{%  extends "account/manage/base.html.twig" %}

{% block body %}


    <div class="content">

        <h2>{{  event.title }}</h2>

    </div>

    {%  if event.deleted %}
        <div class="fullWidthNotice">
            <div class="content">
                <h3>Deleted!</h3>
            </div>
        </div>
    {%  elseif event.cancelled %}
        <div class="fullWidthNotice">
            <div class="content">
                <h3>Cancelled!</h3>
            </div>
        </div>
    {%  endif %}

    <div class="content">
        <h3>What</h3>
        <p>{{  event.description | nl2br | linkify }}</p>
        {%  include '/common/showExtraFields.html.twig' with { 'entity':event } %}
        {% if event.url %}
            <p><i class="fas fa-info"></i> Website: <a href="{{ event.url }}">{{ event.url }}</a></p>
        {% endif %}
        {% if event.urlTickets %}
            <p><i class="fas fa-ticket-alt"></i> Tickets: <a href="{{ event.urlTickets }}">{{ event.urlTickets }}</a></p>
        {% endif %}
        {% for tag in currentTags %}
            <a class="button" href="{{ path('account_manage_tag_show_tag',{'account_username':account.username,'tag_slug': tag.slug }) }}"><i class="fas fa-tag"></i> Tag: {{  tag.title }}</a>
        {% endfor %}

        <h3>Where</h3>

        <div>
            {{ event.country.title }}
        </div>

        <h3>When</h3>

        {%  if eventOccurrence %}
            {%  if event.timezone.code == userTimeZone %}
                {%  include '/common/eventStartEndLine.html.twig' with { 'data':eventOccurrence, 'timezone': event.timezone.code } %}
            {%  else %}
                {%  include '/common/eventStartEndLine.html.twig' with { 'data':eventOccurrence, 'timezone': event.timezone.code, 'showTimeZone': true } %}
                {%  include '/common/eventStartEndLine.html.twig' with { 'data':eventOccurrence, 'timezone': userTimeZone, 'showTimeZone': true } %}
            {%  endif %}
        {%  else %}
            {%  if event.timezone.code == userTimeZone %}
                {%  include '/common/eventStartEndLine.html.twig' with { 'data':event, 'timezone': event.timezone.code } %}
            {%  else %}
                {%  include '/common/eventStartEndLine.html.twig' with { 'data':event, 'timezone': event.timezone.code, 'showTimeZone': true } %}
                {%  include '/common/eventStartEndLine.html.twig' with { 'data':event, 'timezone': userTimeZone, 'showTimeZone': true } %}
            {%  endif %}
        {%  endif %}

        <div>
            {{ event.timezone.title }}
        </div>

        {%  if event.hasReoccurence %}

            <div>
                <a class="button" href="{{ path('account_manage_event_edit_show_event_series',{'account_username':account.username,'event_slug': event.slug }) }}">View all occurrences</a>
            </div>

        {%  endif  %}

        <h3>Permissions</h3>

        <p>
            {% if event.privacy == PRIVACY_LEVEL_PRIVATE %}
                <i class="fas fa-lock"></i> Only You
            {%  elseif event.privacy == PRIVACY_LEVEL_ONLY_FOLLOWERS %}
                <i class="fas fa-user-lock"></i> Only Followers
            {%  else %}
                <i class="fas fa-globe-europe"></i> Public (<a href="{{ path('account_public_event_show_event',{'account_username':account.username,'event_slug': event.slug }) }}">See public view</a>)
            {%  endif %}
        </p>

        {%  if eventHasImports or eventHasSourceEvents %}

            <h3>Source</h3>

            {% for eventHasImport in eventHasImports %}
                <p>
                    This was imported from <a href="{{ eventHasImport.import.url }}" target="_blank">{{ eventHasImport.import.title }}</a>
                </p>
                <p>{{  eventHasImport.import.description | nl2br | linkify }}</p>
            {% endfor %}

            {% for eventHasSourceEvent in eventHasSourceEvents %}

                <p>
                    This event was taken from account
                    {%  if eventHasSourceEvent.sourceEvent.account.getAccountLocal() %}
                        <i class="fas fa-user"></i> {{  eventHasSourceEvent.sourceEvent.account.title }} ({{  eventHasSourceEvent.sourceEvent.account.accountLocal.username }})
                        {%  if eventHasSourceEvent.sourceEvent.privacy == 0 %}{# TODO need to see if event is follower only, and if can see #}
                            <a href="{{ path('account_public_event_show_event',{'account_username':eventHasSourceEvent.sourceEvent.account.accountLocal.username,'event_slug':eventHasSourceEvent.sourceEvent.slug}) }}" class="button" role="button">View</a>
                        {%  else %}
                            <a href="{{ path('account_public',{'account_username':eventHasSourceEvent.sourceEvent.account.accountLocal.username}) }}" class="button" role="button">View</a>
                        {%  endif %}
                    {%  else %}
                        TODO A REMOTE ACCOUNT
                    {%  endif %}
                    {%  if eventHasSourceEvent.updateAll %}
                        And it will get updates from there automatically.
                    {%  else %}
                        However it now no longer gets updates from that event.
                    {%  endif %}
                    <a class="button" href="{{ path('account_manage_event_edit_event_source',{'account_username':account.username,'event_slug': event.slug }) }}">Edit link</a>
                </p>

            {% endfor %}

        {%  endif %}

        <a class="button" href="{{ path('account_manage_event_edit_event_details',{'account_username':account.username,'event_slug': event.slug }) }}"><i class="fas fa-edit"></i> Edit Details</a>
        <a class="button" href="{{ path('account_manage_event_edit_event_tags',{'account_username':account.username,'event_slug': event.slug }) }}"><i class="fas fa-tags"></i> Edit Tags</a>

        {%  if canCancelOrDelete %}
            {%  if event.deleted %}
                {# TODO an undelete action #}
            {%  elseif event.cancelled %}
                <a class="button" href="{{ path('account_manage_event_edit_event_delete',{'account_username':account.username,'event_slug': event.slug }) }}"><i class="fas fa-trash"></i> Delete Event</a>
                {# TODO an uncancel action #}
            {%  else %}
                <a class="button" href="{{ path('account_manage_event_edit_event_cancel',{'account_username':account.username,'event_slug': event.slug }) }}"><i class="fas fa-trash"></i> Cancel/Delete Event</a>
            {%  endif %}
        {%  endif %}

    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}

