{%  extends "account/manage/base.html.twig" %}

{% block body %}



    <div class="content">
        <h2>{{  event.title }}</h2>
    </div>

    {%  if event.deleted %}
        <div class="fullWidthNotice">
            <div class="content">
                <h3>Deleted!</h3>
            </div>
        </div>
    {%  elseif event.cancelled %}
        <div class="fullWidthNotice">
            <div class="content">
                <h3>Cancelled!</h3>
            </div>
        </div>
    {%  endif %}

    <div class="content">

        <h3>Reoccurs</h3>

        <p>RRULE: {{  event.rrule }}</p>

        <table class="table">
            <tr>
                <th>Start/End</th>
                <th>Timezone</th>
                <th></th>
            </tr>
            {%  for eventOccurrence in eventOccurrences %}
                <tr>
                    <td>{%  include '/common/eventStartEndLine.html.twig' with { 'data':eventOccurrence, 'timezone': userTimeZone } %}</td>
                    <td>{{  userTimeZone }}</td>
                    <td>
                        <a class="button"
                           href="{{ path('account_manage_event_show_event',{'account_username':account.username,'event_id': eventOccurrence.event.id }) }}?startutc={{ eventOccurrence.start('UTC')|date("Y-m-d-H-i-s") }}">
                            View
                        </a>
                    </td>
                </tr>
            {%  endfor %}
        </table>
    </div>


{% endblock %}

{% block javascripts %}

{% endblock %}

