{%  extends "account/manage/base.html.twig" %}

{% block body %}

    <div class="content">
        <h3>Following</h3>

        {%  if accounts_following %}

            <ul class="mainListAccounts">
                {%  for account_following in accounts_following %}
                    <li class="account">
                        {%  if account_following.AccountLocal %}
                            <i class="fas fa-user"></i> {{  account_following.title }} ({{  account_following.username }})
                            <a href="{{ path('account_public',{'account_username':account_following.username}) }}" class="button" role="button">View</a>
                        {%  elseif account_following.AccountRemote %}
                            <i class="fas fa-user"></i> {{  account_following.title }} on <i class="fas fa-database"></i> {{ account_following.accountRemote.remoteServer.title }}
                            <a href="{{ account_following.accountRemote.humanURL }}" class="button" role="button" target="_blank">View</a>
                        {%  endif %}
                    </li>
                {%  endfor %}
            </ul>
        {%  endif %}

        <p>
            <i class="fas fa-globe-europe"></i> Public (<a href="{{ path('account_public_profile',{'account_username':account.username }) }}">See public view</a>)
        </p>

        <a href="{{ path('account_manage_new_follow_local',{'account_username':account.username}) }}" class="button" role="button">Follow Another Account on this server</a>
        <a href="{{ path('account_manage_new_follow_remote',{'account_username':account.username}) }}" class="button" role="button">Follow Another Account on another server</a>

    </div>

{% endblock %}
