{%  extends "account/manage/base.html.twig" %}

{% block body %}

    <div class="content">

        {%  if account.accountLocal.description %}
            <h3>About {{  account.title }}</h3>
            {{  account.accountLocal.description|nl2br|linkify }}
        {%  endif %}

        <h3>Following</h3>

        {%  if accounts_following %}

            <ul class="mainListAccounts">
                {%  for account_following in accounts_following %}
                    <li class="account">
                        {%  if account_following.AccountLocal %}
                            <i class="fas fa-user"></i> {{  account_following.title }} ({{  account_following.username }})
                            <a href="{{ path('account_public',{'account_username':account_following.username}) }}" class="button" role="button">View</a>
                        {%  elseif account_following.AccountRemote %}
                            <i class="fas fa-user"></i> {{  account_following.title }} on <i class="fas fa-database"></i> {{ account_following.accountRemote.remoteServer.title }}
                            {%  if account_following.accountRemote.hasHumanURL %}
                                <a href="{{ account_following.accountRemote.humanURL }}" class="button" role="button" target="_blank">View</a>
                            {% endif %}
                        {%  endif %}
                        <form action="#" method="post">
                            <input type="hidden" name="action" value="unfollow">
                            <input type="hidden" name="guid" value="{{  account_following.id }}">
                            <input type="submit" value="Unfollow" class="button">
                        </form>
                    </li>
                {%  endfor %}
            </ul>
        {%  endif %}

        <a href="{{ path('account_manage_new_follow_local',{'account_username':account.username}) }}" class="button" role="button">Follow Another Account on this server</a>
        {%  if instance_federation %}
            <a href="{{ path('account_manage_new_follow_remote',{'account_username':account.username}) }}" class="button" role="button">Follow Another Account on another server</a>
        {%  endif %}

        {%  if accounts_followers %}
            <h3>Followers</h3>

            <ul class="mainListAccounts">
                {%  for account_follower in accounts_followers %}
                    <li class="account">
                        {%  if account_follower.AccountLocal %}
                            <i class="fas fa-user"></i> {{  account_follower.title }} ({{  account_follower.username }})
                            <a href="{{ path('account_public',{'account_username':account_follower.username}) }}" class="button" role="button">View</a>
                        {%  elseif account_follower.AccountRemote %}
                            <i class="fas fa-user"></i> {{  account_follower.title }} on <i class="fas fa-database"></i> {{ account_follower.accountRemote.remoteServer.title }}
                            {%  if account_follower.accountRemote.hasHumanURL %}
                                <a href="{{ account_follower.accountRemote.humanURL }}" class="button" role="button" target="_blank">View</a>
                            {% endif %}
                        {%  endif %}
                    </li>
                {%  endfor %}
            </ul>

        {%  endif  %}

        {%  if accounts_followers_needing_approval %}
            <h3>Followers Requesting Approval</h3>

            <ul class="mainListAccounts">
                {%  for accounts_follower_needing_approval in accounts_followers_needing_approval %}
                    <li class="account">
                        {%  if accounts_follower_needing_approval.AccountLocal %}
                            <i class="fas fa-user"></i> {{  accounts_follower_needing_approval.title }} ({{  accounts_follower_needing_approval.username }})
                            <a href="{{ path('account_public',{'account_username':accounts_follower_needing_approval.username}) }}" class="button" role="button">View</a>
                        {%  elseif accounts_follower_needing_approval.AccountRemote %}
                            <i class="fas fa-user"></i> {{  accounts_follower_needing_approval.title }} on <i class="fas fa-database"></i> {{ accounts_follower_needing_approval.accountRemote.remoteServer.title }}
                            {%  if accounts_follower_needing_approval.accountRemote.hasHumanURL %}
                                <a href="{{ accounts_follower_needing_approval.accountRemote.humanURL }}" class="button" role="button" target="_blank">View</a>
                            {% endif %}
                        {%  endif %}

                        <form action="#" method="post">
                            <input type="hidden" name="action" value="acceptfollower">
                            <input type="hidden" name="guid" value="{{  accounts_follower_needing_approval.id }}">
                            <input type="submit" value="Accept" class="button">
                        </form>

                        <form action="#" method="post">
                            <input type="hidden" name="action" value="rejectfollower">
                            <input type="hidden" name="guid" value="{{  accounts_follower_needing_approval.id }}">
                            <input type="submit" value="Reject" class="button">
                        </form>
                    </li>
                {%  endfor %}
            </ul>

        {%  endif  %}

        <p>
            <i class="fas fa-globe-europe"></i> Public (<a href="{{ path('account_public_profile',{'account_username':account.username }) }}">See public view</a>)
        </p>

    </div>

{% endblock %}
