{%  extends "account/manage/base.html.twig" %}

{% block body %}


    <div class="content">
        <h3>Discover</h3>


        <ul class="mainListEvents">

            {% for eventOccurrence in eventOccurrences %}

                <li class="event">
                    {%  if eventOccurrence.event.deleted %}
                        <h2>DELETED</h2>
                    {%  elseif eventOccurrence.event.cancelled %}
                        <h2>CANCELLED</h2>
                    {%  endif %}
                    <h2>{{  eventOccurrence.event.title }}</h2>
                    <p>{{  eventOccurrence.event.description | nl2br }}</p>
                    {%  include '/common/eventStartEndLine.html.twig' with { 'start':eventOccurrence.start, 'end':eventOccurrence.end, 'timezone': eventOccurrence.event.timezone.code } %}

                    {%  if eventOccurrence.event.account.AccountLocal %}
                        <i class="fas fa-user"></i> {{  eventOccurrence.event.account.title }} ({{  eventOccurrence.event.account.AccountLocal.username }})
                    {%  elseif eventOccurrence.event.account.AccountRemote %}
                        <i class="fas fa-user"></i> {{  eventOccurrence.event.account.title }} on <i class="fas fa-database"></i> {{ eventOccurrence.event.account.accountRemote.remoteServer.title }}
                    {%  endif %}
                    <a class="button"
                            {%  if  eventOccurrence.event.hasReoccurence %}
                                href="{{ path('account_manage_discover_event_show_event',{'account_username':account.username, 'discover_account_id':eventOccurrence.event.account.id,'discover_event_id': eventOccurrence.event.id }) }}?startutc={{ eventOccurrence.start('UTC')|date("Y-m-d-H-i-s") }}"
                            {%  else  %}
                                href="{{ path('account_manage_discover_event_show_event',{'account_username':account.username, 'discover_account_id':eventOccurrence.event.account.id,'discover_event_id': eventOccurrence.event.id }) }}"
                            {%  endif %}
                    >
                        Details
                    </a>


                </li>

            {%  endfor %}

        </ul>

    </div>

{% endblock %}
