{%  extends "account/public/base.html.twig" %}

{% block account_public_to_manage_url %}{{ path('account_manage_tag_show_tag',{'account_username':account.username,'tag_slug':tag.slug}) }}{% endblock %}

{% block body %}


    <div class="content">
        <div>
            <h2>{{  tag.title }}</h2>
            <p>{{  tag.description | nl2br }}</p>
            {%  include '/common/showExtraFields.html.twig' with { 'entity':tag } %}
        </div>

        <h3>Upcoming Events</h3>

        <ul class="mainListEvents">

            {% for event in events %}

                <li class="event">
                    <h2>{{  event.title }}</h2>
                    <p>{{  event.description | u.truncate(event_list_description_truncate_limit, event_list_description_truncate_more, event_list_description_truncate_whole_words) | nl2br }}</p>
                    {%  include '/common/eventStartEndLine.html.twig' with { 'data':event, 'timezone': userTimeZone , 'showTimeZone': true  } %}
                    <a class="button" href="{{ path('account_public_event_show_event',{'account_username':account.username,'event_slug': event.slug }) }}">Details</a>
                </li>


            {%  else %}

                <p>No upcoming events ....</p>

            {%  endfor %}

        </ul>

        {%  include 'account/public/common/share_export.html.twig' with {
        'title': 'Tags',
        'share_export_url': url('account_public_tag_show_tag',{'account_username':account.username,'tag_slug': tag.slug }),
        'share_export_tag_json_url':  url('api1_account_tags_show_tag_json',{'account_id':account.id ,'tag_slug':tag.slug}),
        } %}

    </div>

{% endblock %}
