{%  extends "account/manage/base.html.twig" %}

{% block body %}

    <div class="content">

        <table class="table">
            <tr>
                <th></th>
                <td><h4>About</h4></td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{  account.accountLocal.username }}</td>
            </tr>
            <tr>
                <th>Account Name</th>
                <td>{{  account.title }}</td>
            </tr>
            <tr>
                <th>Account ID (for API Access)</th>
                <td>{{  account.id }}</td>
            </tr>
            <tr>
                <th></th>
                <td><h4>Account Privacy</h4></td>
            </tr>
            <tr>
                <th>New Followers</th>
                <td>
                    {% if account.accountLocal.manuallyApprovesFollowers %}
                        <i class="fas fa-question"></i> Must be approved
                    {%  else %}
                        <i class="fas fa-check"></i> Anyone can follow
                    {%  endif %}
                </td>
            </tr>
            <tr>
                <th>List in Directory</th>
                <td>{%  if account.accountLocal.listInDirectory  %}<i class="fas fa-address-book"></i> Listed{%  else %}<i class="fas fa-ban"></i> Do not list{%  endif %}</td>
            </tr>
            <tr>
                <th>Search Engines</th>
                <td>{%  if account.accountLocal.SEOIndexFollow  %}<i class="fas fa-globe-europe"></i> Request to include{%  else %}<i class="fas fa-ban"></i> Request not to list{%  endif %}</td>
            </tr>
            <tr>
                <th></th>
                <td>(Basic details of your account are always public, but you can control how people find you and follow you.)</td>
            </tr>
            <tr>
                <th></th>
                <td><h4>Your Defaults</h4></td>
            </tr>
            <tr>
                <th>Default Timezone</th>
                <td>{{  account.accountLocal.defaultTimeZone.title }}</td>
            </tr>
            <tr>
                <th>Default Country</th>
                <td>{{  account.accountLocal.defaultCountry.title }}</td>
            </tr>
            <tr>
                <th>Default Privacy</th>
                <td>
                    {% if account.accountLocal.defaultPrivacy == PRIVACY_LEVEL_PRIVATE %}
                        <i class="fas fa-lock"></i> Only You
                    {%  elseif account.accountLocal.defaultPrivacy == PRIVACY_LEVEL_ONLY_FOLLOWERS %}
                        <i class="fas fa-user-lock"></i> Only Followers
                    {%  else %}
                        <i class="fas fa-globe-europe"></i> Public
                    {%  endif %}
                </td>
            </tr>
            <tr>
                <th></th>
                <td>(You can choose to change these for individual events later.)</td>
            </tr>
        </table>


        <p>
            <a class="button" role="button" href="{{ path('account_manage_settings_edit',{'account_username':account.username}) }}">Edit</a>
        </p>



        <h3>Emails of upcoming events</h3>

        {%  if sendUpcomingEventsEmail and sendUpcomingEventsEmail.enabled %}
            <p>You will be sent emails of upcoming events.</p>
            <form method="post">
                {#  @TODO Add CSFR  #}
                <input type="hidden" name="action" value="stopEmailUserUpcomingEventsForAccount">
                <input type="submit" value="Stop sending emails" class="button">
            </form>
        {%  else %}
            <p>You will not be sent emails of upcoming events.</p>
            <form method="post">
                {#  @TODO Add CSFR  #}
                <input type="hidden" name="action" value="startEmailUserUpcomingEventsForAccount">
                <input type="submit" value="Start sending emails" class="button">
            </form>
        {%  endif %}


        <h3>Imports</h3>

        {%  if imports %}

            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>URL</th>
                    <th>Privacy</th>
                    <th>Default Country</th>
                    <th>Default Timezone</th>
                    <th>Enabled</th>
                    <th>&nbsp;</th>
                </tr>
                {%  for import in imports %}
                    <tr>
                        <td>{{  import.title }}</td>
                        <td>{{  import.description }}</td>
                        <td><a href="{{  import.url }}">{{  import.url }}</a></td>
                        <td>
                            {% if import.privacy == PRIVACY_LEVEL_PRIVATE %}
                                <i class="fas fa-lock"></i> Only You
                            {%  elseif import.privacy == PRIVACY_LEVEL_ONLY_FOLLOWERS %}
                                <i class="fas fa-user-lock"></i> Only Followers
                            {%  else %}
                                <i class="fas fa-globe-europe"></i> Public
                            {%  endif %}
                        </td>
                        <td>{%  if import.defaultCountry %}{{  import.defaultCountry.title }}{%  endif %}</td>
                        <td>{{  import.defaultTimezone.code }}</td>
                        <td>{%  if import.enabled %}Enabled{%  else %}-{%  endif %}</td>
                        <td></td>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                {%  endfor %}
            </table>
        {%  else %}

            No imports.
        {%  endif %}

        <p>
            <a class="button" role="button" href="{{ path('account_manage_import_new',{'account_username':account.username}) }}"><i class="fas fa-plus"></i> New Import</a>
        </p>


        <h3>Managers</h3>

        <table class="table">
            <tr>
                <th>Email</th>
            </tr>
            {%  for user in usersManage %}
                <tr>
                    <td>{{  user.email }}</td>
                </tr>
            {%  endfor %}
        </table>

    </div>

{% endblock %}
