{%  extends "sysadmin/base.html.twig" %}


{% block body %}


    <div class="content">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Server</th>
                <th>Title</th>
                <th></th>
            </tr>
            {%  for account in accounts %}
                <tr>
                    <td>{{  account.id }}</td>
                    <td>
                        <a href="{{  account.accountRemote.remoteServer.url }}">{{  account.accountRemote.remoteServer.title }}</a>
                    </td>
                    <td>{{  account.title }}</td>
                    <td>
                        <a href="{{ path('sysadmin_account_remote_show_account',{'account_id':account.id}) }}" class="button" role="button">Sysadmin</a>
                    </td>
                </tr>
            {%  endfor %}
        </table>
    </div>


{% endblock %}
