{%  extends "sysadmin/base.html.twig" %}


{% block body %}


    <div class="content">

        <table class="table">
            <tr>
                <th>Id</th>
                <td>{{  user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{  user.email }}</td>
            </tr>
            <tr>
                <th></th>
                <td><h4>Limits</h4></td>
            </tr>
            <tr>
                <th>limitNumberOfAccountsManage</th>
                <td>{{  user.limitNumberOfAccountsManage }}</td>
            </tr>
            <tr>
                <th>limitNumberOfAPIAccessTokens</th>
                <td>{{  user.limitNumberOfAPIAccessTokens }}</td>
            </tr>
            <tr>
                <th></th>
                <td><h4>Permissions</h4></td>
            </tr>
            <tr>
                <th>Sysadmin</th>
                <td>{%  if user.isSysAdmin %}SysAdmin{%  else %}-{%  endif %}</td>
            </tr>
            <tr>
                <th>Locked</th>
                <td>{%  if user.locked %}Locked{%  else %}-{%  endif %}</td>
            </tr>
        </table>

        <h3>Accounts can manage</h3>

        <table class="table">
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Title</th>
                <th></th>
            </tr>
            {%  for account in accounts_this_user_can_manage %}
                <tr>
                    <td>{{  account.id }}</td>
                    <td>{{  account.username }}</td>
                    <td>{{  account.title }}</td>
                    <td>
                        <a href="{{ path('sysadmin_account_local_show_account',{'account_id':account.id}) }}" class="button" role="button">Sysadmin</a>
                        <a href="{{ path('account_public',{'account_username':account.username}) }}" class="button" role="button">View Public</a>
                    </td>
                </tr>
            {%  endfor %}
        </table>

    </div>

{% endblock %}
