{%  extends "base.html.twig" %}

{% block subbanner %}
    <h2>
        <a href="{{ path('account_public',{'account_username':account.username}) }}">{{  account.title }}</a>
    </h2>
    <nav>
        <a href="{{ path('account_public_event',{'account_username':account.username}) }}">Events</a>
        <a href="{{ path('account_public_tag',{'account_username':account.username}) }}">Tags</a>
        <a href="{{ path('account_public_profile',{'account_username':account.username}) }}">Profile</a>
    </nav>
{% endblock %}

