{%  extends "base.html.twig" %}

{% block account_public_to_manage %}
    {%  if account in accounts_user_can_manage %}
        <div class="content">
            <div class="flashNotice">
                This is how the public see this. You are a manager of this account. <a class="button" href="{% block account_public_to_manage_url %}{% endblock %}">Manage</a>
            </div>
        </div>
    {%  endif  %}
{% endblock %}

{% block subbanner %}
    <h2>
        <a href="{{ path('account_public',{'account_username':account.username}) }}"><i class="fas fa-user"></i> {{  account.title }}</a>
    </h2>
    <nav>
        <a href="{{ path('account_public_event',{'account_username':account.username}) }}"><i class="fas fa-calendar"></i> Events</a>
        <a href="{{ path('account_public_tag',{'account_username':account.username}) }}"><i class="fas fa-tags"></i> Tags</a>
        <a href="{{ path('account_public_profile',{'account_username':account.username}) }}"><i class="fas fa-user"></i> Profile</a>
    </nav>
{% endblock %}

