{%  extends "account/public/base.html.twig" %}

{% block account_public_to_manage_url %}{{ path('account_manage',{'account_username':account.username}) }}{% endblock %}

{% block body %}

    <div class="content">
        <h3>Welcome to {{  account.title }}</h3>

        {%  if account.accountLocal.description %}
            <h3>About</h3>
            {{  account.accountLocal.description|nl2br|linkify }}
        {%  endif %}

        <h3>Events</h3>

        {%  if eventOccurrences %}

            <div class="highlightList">

                {% for eventOccurrence in eventOccurrences %}

                    <div class="listItem" itemscope itemtype="http://schema.org/Event">

                        <h4 itemprop="name">{{  eventOccurrence.event.title }}</h4>
                        <p itemprop="description">{{  eventOccurrence.event.description | u.truncate(event_list_description_truncate_limit, event_list_description_truncate_more, event_list_description_truncate_whole_words) | nl2br }}</p>
                        {%  include '/common/eventStartEndLine.html.twig' with { 'data':eventOccurrence, 'timezone': userTimeZone , 'showTimeZone': true } %}
                        <a class="button" itemprop="url"
                                {%  if  eventOccurrence.event.hasReoccurence %}
                                    href="{{ path('account_public_event_show_event',{'account_username':account.username,'event_id': eventOccurrence.event.id }) }}?startutc={{ eventOccurrence.start('UTC')|date("Y-m-d-H-i-s") }}"
                                {%  else  %}
                                    href="{{ path('account_public_event_show_event',{'account_username':account.username,'event_id': eventOccurrence.event.id }) }}"
                                {%  endif %}
                        >
                            Details
                        </a>

                    </div>

                {%  endfor %}

            </div>

            <a class="button" role="button" href="{{ path('account_manage_event',{'account_username':account.username}) }}"><i class="fas fa-calendar"></i> Their Events</a>

        {%  else %}

            <p>There are no upcoming events you can see.</p>

        {%  endif %}

    </div>


{% endblock %}
