{%  extends "sysadmin/base.html.twig" %}


{% block body %}


    <div class="content">

        <table class="table">
            <tr>
                <th>Id</th>
                <td>{{  account.id }}</td>
            </tr>
            <tr>
                <th></th>
                <td><h4>Information</h4></td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{  accountLocal.username }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{  account.title }}</td>
            </tr>
            <tr>
                <th></th>
                <td><h4>Local Settings</h4></td>
            </tr>
            <tr>
                <th>Default Privacy</th>
                <td>
                    {% if accountLocal.defaultPrivacy == 10000 %}
                        <i class="fas fa-lock"></i> Private
                    {%  else %}
                        <i class="fas fa-globe-europe"></i> Public
                    {%  endif %}
                </td>
            </tr>

            <tr>
                <th>New Followers</th>
                <td>
                    {% if account.accountLocal.manuallyApprovesFollowers %}
                        <i class="fas fa-question"></i> Must be approved
                    {%  else %}
                        <i class="fas fa-check"></i> Anyone can follow
                    {%  endif %}
                </td>
            </tr>
            <tr>
                <th>List in Directory</th>
                <td>{%  if account.accountLocal.listInDirectory  %}<i class="fas fa-address-book"></i> Listed{%  else %}<i class="fas fa-ban"></i> Do not list{%  endif %}</td>
            </tr>
            <tr>
                <th>Search Engines</th>
                <td>{%  if account.accountLocal.SEOIndexFollow  %}<i class="fas fa-globe-europe"></i> Request to include{%  else %}<i class="fas fa-ban"></i> Request not to list{%  endif %}</td>
            </tr>
            <tr>
                <th>Default Timezone</th>
                <td>{{  accountLocal.defaultTimezone.title }}</td>
            </tr>
            <tr>
                <th>Default Country</th>
                <td>{{  accountLocal.defaultCountry.title }}</td>
            </tr>
            <tr>
                <th>years_behind</th>
                <td>{{  account.yearsBehind }}</td>
            </tr>
            <tr>
                <th>years_ahead</th>
                <td>{{  account.yearsAhead  }}</td>
            </tr>
            <tr>
                <th></th>
                <td><h4>Limits</h4></td>
            </tr>
            <tr>
                <th>limitNumberOfEvents</th>
                <td>{{  account.limitNumberOfEvents }}</td>
            </tr>
            <tr>
                <th>limitNumberOfEventOccurrences</th>
                <td>{{  account.limitNumberOfEventOccurrences }}</td>
            </tr>
            <tr>
                <th>limitNumberOfTags</th>
                <td>{{  account.limitNumberOfTags }}</td>
            </tr>
            <tr>
                <th>limitNumberOfAccountsFollowing</th>
                <td>{{  account.limitNumberOfAccountsFollowing }}</td>
            </tr>
            <tr>
                <th>limitNumberOfImports</th>
                <td>{{  account.limitNumberOfImports }}</td>
            </tr>
            <tr>
                <th></th>
                <td><h4>Permissions</h4></td>
            </tr>
            <tr>
                <th>Locked</th>
                <td>{%  if account.accountLocal.locked %}Locked{%  else %}-{%  endif %}</td>
            </tr>
        </table>

        <h3>Managers</h3>

        <table class="table">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Locked</th>
                <th></th>
            </tr>
            {%  for user in usersManage %}
                <tr>
                    <td>{{  user.id }}</td>
                    <td>{{  user.email }}</td>
                    <td>{%  if user.locked %}Locked{%  else %}-{%  endif %}</td>
                    <td>
                        <a href="{{  url('sysadmin_user_show_user', {user_id: user.id}) }}" class="button" role="button">Sysadmin</a>
                    </td>
                </tr>
            {%  endfor %}
        </table>

        <a href="{{ path('account_public',{'account_username':account.username}) }}" class="button" role="button">View Public</a>

    </div>

{% endblock %}
