{%  extends "account/public/base.html.twig" %}

{% block account_public_to_manage_url %}{{ path('account_manage_profile',{'account_username':account.username}) }}{% endblock %}


{% block body %}



    <div class="content">

        {%  if accounts_following %}
            <h3>Following</h3>
            <ul class="mainListAccounts">
                {%  for account_following in accounts_following %}
                    <li class="account">
                        {%  if account_following.AccountLocal %}
                            <i class="fas fa-user"></i> {{  account_following.title }} ({{  account_following.username }})
                            <a href="{{ path('account_public',{'account_username':account_following.username}) }}" class="button" role="button">View</a>
                        {%  elseif account_following.AccountRemote %}
                            <i class="fas fa-user"></i> {{  account_following.title }} on <i class="fas fa-database"></i> {{ account_following.accountRemote.remoteServer.title }}
                            {%  if account_following.accountRemote.hasHumanURL %}
                                <a href="{{ account_following.accountRemote.humanURL }}" class="button" role="button" target="_blank">View</a>
                            {%  endif %}
                        {%  endif %}
                    </li>
                {%  endfor %}
            </ul>
        {%  endif %}

        {%  if accounts_followers %}
            <h3>Followers</h3>
            <ul class="mainListAccounts">
                {%  for account_follower in accounts_followers %}
                    <li class="account">
                        {%  if account_follower.AccountLocal %}
                            <i class="fas fa-user"></i> {{  account_follower.title }} ({{  account_follower.username }})
                            <a href="{{ path('account_public',{'account_username':account_follower.username}) }}" class="button" role="button">View</a>
                        {%  elseif account_follower.AccountRemote %}
                            <i class="fas fa-user"></i> {{  account_follower.title }} on <i class="fas fa-database"></i> {{ account_follower.accountRemote.remoteServer.title }}
                            {%  if account_follower.accountRemote.hasHumanURL %}
                                <a href="{{ account_follower.accountRemote.humanURL }}" class="button" role="button" target="_blank">View</a>
                            {%  endif %}
                        {%  endif %}
                    </li>
                {%  endfor %}
            </ul>
        {%  endif %}

    </div>

{% endblock %}
