{%  extends "account/public/base.html.twig" %}

{% block body %}



    <div class="content">

        <h3>Following</h3>

        {%  if accounts_following %}

            {%  for account_following in accounts_following %}
                <div>
                    {%  if account_following.AccountLocal %}
                        {{  account_following.username }} / {{  account_following.title }}
                        <a href="{{ path('account_public',{'account_username':account_following.username}) }}" class="button" role="button">View</a>
                    {%  elseif account_following.AccountRemote %}
                        {{  account_following.title }} on {{ account_following.accountRemote.remoteServer.title }}
                        <a href="{{ account_following.accountRemote.humanURL }}" class="button" role="button" target="_blank">View</a>
                    {%  endif %}
                </div>
            {%  endfor %}

        {%  endif %}
    </div>

{% endblock %}
