<div>
    <time datetime="{{ start|date('c', timezone) }}" itemprop="startDate">{{  start|date("D F jS Y g:ia", timezone) }}</time>
    to
    <time datetime="{{ end|date('c', timezone) }}" itemprop="endDate">{{  end|date("D F jS Y g:ia", timezone) }}</time>
    {% if showTimeZone is defined and showTimeZone %}
        ({{ timezone }})
    {%  endif %}
</div>