{%  extends "account/manage/base.html.twig" %}

{% block body %}

    <div class="content">


        <h3>Add to your account</h3>

        <div style="border: 1px solid black; margin: 30px; padding: 20px;">
            <h2>{{  discoverEvent.title }}</h2>
            <p>{{  discoverEvent.description | u.truncate(event_list_description_truncate_limit, event_list_description_truncate_more, event_list_description_truncate_whole_words) | nl2br }}</p>
            {%  if discoverEvent.timezone.code == userTimeZone %}
                {%  include '/common/eventStartEndLine.html.twig' with { 'start':discoverEvent.start, 'end':discoverEvent.end, 'timezone': discoverEvent.timezone.code } %}
            {%  else %}
                {%  include '/common/eventStartEndLine.html.twig' with { 'start':discoverEvent.start, 'end':discoverEvent.end, 'timezone': discoverEvent.timezone.code, 'showTimeZone': true } %}
                {%  include '/common/eventStartEndLine.html.twig' with { 'start':discoverEvent.start(userTimeZone), 'end':discoverEvent.end(userTimeZone), 'timezone': userTimeZone, 'showTimeZone': true } %}
            {%  endif %}
            {# TODO add some recurring info #}
        </div>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.privacy) }}
        <button type="submit" class="button">Add</button>
        {{ form_end(form) }}

    </div>

{% endblock %}

