<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %} - {{  instance_name }}</title>
    {# FullCalendar #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.min.css" integrity="sha256-9VgA72/TnFndEp685+regIGSD6voLveO2iDuWhqTY3g=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.print.min.css" integrity="sha256-JYJWCNB1pXBwUngem7hITwB6SdmCGkhewhKS8NL1A8A=" crossorigin="anonymous" media="print"/>
    {# Ours #}
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
    <META NAME="ROBOTS" CONTENT="{% block robots %}NOINDEX, NOFOLLOW{% endblock %}">
</head>
<body>


    <header id="headerMain">
        <div class="content">
            <h1>
                {% if app.user and accounts_user_can_manage|length == 1  %}
                <a href="{{ path('account_manage',{'account_username':accounts_user_can_manage[0].username}) }}">
                    {% else %}
                    <a class="text-dark" href="{{ path('index') }}">
                        {% endif %}
                        <i class="fas fa-calendar"></i> {{  instance_name }}
                    </a>
            </h1>
            <nav>
                {% if app.user %}
                    <a href="{{ path('user_settings') }}">Hello {{ app.user.email }} <i class="fas fa-user-cog"></i></a>
                    <a href="{{ path('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ path('login') }}">Login</a>
                    <a href="{{ path('register') }}">Register</a>
                {% endif %}
            </nav>
        </div>
    </header>
    <header  id="headerSecondary">
        <div class="content">
            {% block subbanner %}{% endblock %}
        </div>
    </header>

    <main>

        <div class="content">
            {% for message in app.flashes('notice') %}
                <div class="flashNotice">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="flashSuccess">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('warning') %}
                <div class="flashWarning">
                    {{ message }}
                </div>
            {% endfor %}
        </div>

        {% block account_public_to_manage %}{% endblock %}
        {% block body %}{% endblock %}
    </main>

    <footer>
        <div class="content">
            <p>{% if userTimeZone is defined %}Currently: {{  userTimeZone }} {%  endif %}(<a href="{{  path('set_timezone') }}"><i class="fas fa-clock"></i> Change TimeZone</a>)</p>
            {% if app.user %}
                <p><a  href="{{ path('user_settings') }}"><i class="fas fa-user-cog"></i> Your User Settings</a></p>
                {%  if accounts_user_can_manage|length > 1 %}
                    <p >
                        Switch to account:
                        {%  for account in accounts_user_can_manage %}
                            <a href="{{ path('account_manage',{'account_username':account.username}) }}"><i class="fas fa-user"></i> {{  account.title }}</a>
                        {%  endfor %}
                    </p>
                {%  endif %}
            {%  endif %}
            <p>
                {{  instance_name }}:
                <a href="{{ path('directory') }}"><i class="fas fa-address-book"></i> Directory</a>
                <a href="{{ path('contact') }}"><i class="fas fa-envelope"></i> Contact us</a>
            </p>
            <p>Powered by <a href="https://www.theoccasionoctopus.net/">The Occasion Octopus software (Open Source)</a> <i class="far fa-grin-hearts"></i></p>
        </div>
    </footer>

</div>
{# jQuery #}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{# Font Awesum #}
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
{# Moment#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
{# FullCalendar #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.0/fullcalendar.js" integrity="sha256-qvPuuRTvNHTt0G2JBmvG1jAORbJm5xmxA+6UW/ZSVf8=" crossorigin="anonymous"></script>
{# Ours #}
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
