{%  extends "account/manage/base.html.twig" %}

{% block body %}


    <div class="content">
        {%  include 'common/eventViewSwitcher.html.twig' with {'selected':'agenda', 'agendaURL':path('account_manage_event',{'account_username':account.username }), 'calendarURL':path('account_manage_event_calendar',{'account_username':account.username }) } %}

        {%  include 'common/eventListFilter.html.twig' with {  } %}


        <ul class="mainListEvents">

            {% for eventOccurrence in eventOccurrences %}

                <li class="event">
                    <h2>{{  eventOccurrence.event.title }}</h2>
                    {%  if eventOccurrence.event.deleted %}
                        <div class="deleted">Deleted!</div>
                    {%  elseif eventOccurrence.event.cancelled %}
                        <div class="cancelled">Cancelled!</div>
                    {%  endif %}
                    <p>{{  eventOccurrence.event.description | u.truncate(event_list_description_truncate_limit, event_list_description_truncate_more, event_list_description_truncate_whole_words) | nl2br }}</p>
                    {%  include '/common/eventStartEndLine.html.twig' with { 'data':eventOccurrence, 'timezone': userTimeZone , 'showTimeZone': true  } %}
                    <a class="button"
                        {%  if  eventOccurrence.event.hasReoccurence %}
                            href="{{ path('account_manage_event_show_event',{'account_username':account.username,'event_slug': eventOccurrence.event.slug }) }}?startutc={{ eventOccurrence.start('UTC')|date("Y-m-d-H-i-s") }}"
                        {%  else  %}
                            href="{{ path('account_manage_event_show_event',{'account_username':account.username,'event_slug': eventOccurrence.event.slug }) }}"
                        {%  endif %}
                        >
                        Details
                    </a>
                    <p>
                        {% if eventOccurrence.event.privacy == PRIVACY_LEVEL_PRIVATE %}
                            <i class="fas fa-lock"></i> Only You
                        {%  elseif eventOccurrence.event.privacy == PRIVACY_LEVEL_ONLY_FOLLOWERS %}
                            <i class="fas fa-user-lock"></i> Only Followers
                        {%  else %}
                            <i class="fas fa-globe-europe"></i> Public
                        {%  endif %}
                    </p>
                </li>

            {%  endfor %}

        </ul>


        <a href="{{ path('account_manage_event_new',{'account_username':account.username}) }}" class="button" role="button">New Event</a>

    </div>
{% endblock %}
