{%  extends "account/manage/base.html.twig" %}

{% block title %}New Event{% endblock %}

{% block body %}


    <div class="content">

        <h3>New Event</h3>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <h4>What?</h4>
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.url) }}
        {{ form_row(form.url_tickets) }}
        <h4>Where?</h4>
        {{ form_row(form.country) }}
        <h4>When?</h4>
        {{ form_row(form.timezone) }}
        {{ form_row(form.start_at) }}
        {{ form_row(form.end_at) }}
        {{ form_row(form.rrule) }}
        <h4>Share?</h4>
        {{ form_row(form.privacy) }}

        <button type="submit" class="button">Create</button>
        {{ form_end(form) }}

    </div>

{%  endblock %}

{% block javascripts %}
    <script>
        function onStartChangeMaybeSetEnd() {
            var start_date = $('#event_new_start_at_date');
            var start_hour = $('#event_new_start_at_time_hour');
            var start_minute = $('#event_new_start_at_time_minute');
            var end_date = $('#event_new_end_at_date');
            var end_hour = $('#event_new_end_at_time_hour');
            var end_minute = $('#event_new_end_at_time_minute');
            if (start_date.val() && !end_date.val()) {
                end_date.val(start_date.val());
            }
            if (start_hour.val() && end_hour.val() == "0") {
                end_hour.val(start_hour.val());
            }
            if (start_minute.val() && end_minute.val() == "0") {
                end_minute.val(start_minute.val());
            }
        }
        $( document ).ready(function() {
            $('#event_new_start_at_date').change(onStartChangeMaybeSetEnd);
            $('#event_new_start_at_time_hour').change(onStartChangeMaybeSetEnd);
            $('#event_new_start_at_time_minute').change(onStartChangeMaybeSetEnd);
        });
    </script>
{% endblock %}
