{%  extends "account/manage/base.html.twig" %}

{% block title %}New Event{% endblock %}

{% block body %}


    <div class="content">

        <h3>New Event</h3>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <h4>What?</h4>
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.url) }}
        {{ form_row(form.url_tickets) }}
        <h4>Where?</h4>
        {{ form_row(form.country) }}
        <h4>When?</h4>
        {{ form_row(form.timezone) }}
        {{ form_row(form.all_day) }}
        {{ form_row(form.start_date) }}
        {{ form_row(form.start_time) }}
        {{ form_row(form.end_date) }}
        {{ form_row(form.end_time) }}
        <div>
            <a href="#" onclick="$('#sectionReoccurring').toggle(); $(this).find('.indicator').toggle(); return false;">
                <span class="indicator"><i class="fas fa-chevron-right"></i></span><span class="indicator" style="display: none;"><i class="fas fa-chevron-down"></i></span>
                Reoccurring
            </a>
        </div>
        <div id="sectionReoccurring" style="display: none;">
            {{ form_row(form.rrule) }}
        </div>
        <h4>Permissions?</h4>
        {{ form_row(form.privacy) }}

        <button type="submit" class="button">Create</button>
        {{ form_end(form) }}

    </div>

{%  endblock %}

{% block javascripts %}
    <script>
        function onStartChangeMaybeSetEndDate() {
            var start_date = $('#event_new_start_date');
            var end_date = $('#event_new_end_date');
            if (start_date.val() && !end_date.val()) {
                end_date.val(start_date.val());
            }
        }
        function onStartChangeMaybeSetEndHour() {
            var start_hour = $('#event_new_start_time_hour');
            var end_hour = $('#event_new_end_time_hour');
            if (start_hour.val() && end_hour.val() == "0") {
                if (start_hour.val() == '23') {
                    end_hour.val(start_hour.val());
                } else {
                    var val = parseInt(start_hour.val()) + 1;
                    end_hour.val(val.toString());
                }
            }
        }
        function onAllDayChange() {
            var allDay = $('#event_new_all_day').is(':checked');
            $('#event_new_start_time_hour').prop( "disabled", allDay );
            $('#event_new_start_time_minute').prop( "disabled", allDay );
            $('#event_new_start_time_second').prop( "disabled", allDay );
            $('#event_new_end_time_hour').prop( "disabled", allDay );
            $('#event_new_end_time_minute').prop( "disabled", allDay );
            $('#event_new_end_time_second').prop( "disabled", allDay );
        }
        $( document ).ready(function() {
            $('#event_new_start_date').change(onStartChangeMaybeSetEndDate);
            $('#event_new_start_time_hour').change(onStartChangeMaybeSetEndHour);
            $('#event_new_all_day').change(onAllDayChange);
        });
    </script>
{% endblock %}
