{%  extends "account/public/base.html.twig" %}

{% block robots %}{%  if account.accountLocal.SEOIndexFollow and not event.deleted %}INDEX, FOLLOW{%  else %}NOINDEX, NOFOLLOW{%  endif  %}{% endblock %}

{% block account_public_to_manage_url %}{{ path('account_manage_event_show_event',{'account_username':account.username,'event_id':event.id}) }}{% endblock %}

{% block body %}

    <div itemscope itemtype="http://schema.org/Event">

        <div class="content" itemprop="name">
            <h2>{{  event.title }}</h2>
        </div>

        {%  if event.deleted %}
            <meta itemprop="eventStatus" content="https://schema.org/EventCancelled" />
            <div class="fullWidthNotice">
                <div class="content">
                    <h3>Deleted!</h3>
                </div>
            </div>
        {%  elseif event.cancelled %}
            <meta itemprop="eventStatus" content="https://schema.org/EventCancelled" />
            <div class="fullWidthNotice">
                <div class="content">
                    <h3>Cancelled!</h3>
                </div>
            </div>
        {%  else %}
            <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
        {%  endif %}

        <div class="content">
            <h3>What</h3>
            <p itemprop="description">{{  event.description | nl2br | linkify }}</p>
            {%  include '/common/showExtraFields.html.twig' with { 'entity':event } %}
            {% if event.url %}
                <p><i class="fas fa-info"></i> Website: <a href="{{ event.url }}" itemprop="url">{{ event.url }}</a></p>
            {% endif %}
            {% if event.urlTickets %}
                <p><i class="fas fa-ticket-alt"></i> Tickets: <a href="{{ event.urlTickets }}">{{ event.urlTickets }}</a></p>
            {% endif %}
            {% for tag in currentTags %}
                <a class="button" href="{{ path('account_public_tag_show_tag',{'account_username':account.username,'tag_id': tag.id }) }}"><i class="fas fa-tag"></i> Tag: {{  tag.title }}</a>
            {% endfor %}


            <h3>Where</h3>

            <div>
                {{ event.country.title }}
            </div>

            <h3>When</h3>

            {%  if eventOccurrence %}
                {%  if event.timezone.code == userTimeZone %}
                    {%  include '/common/eventStartEndLine.html.twig' with { 'start':eventOccurrence.start, 'end':eventOccurrence.end, 'timezone': event.timezone.code } %}
                {%  else %}
                    {%  include '/common/eventStartEndLine.html.twig' with { 'start':eventOccurrence.start, 'end':eventOccurrence.end, 'timezone': event.timezone.code, 'showTimeZone': true } %}
                    {%  include '/common/eventStartEndLine.html.twig' with { 'start':eventOccurrence.start(userTimeZone), 'end':eventOccurrence.end(userTimeZone), 'timezone': userTimeZone, 'showTimeZone': true } %}
                {%  endif %}
            {%  else %}
                {%  if event.timezone.code == userTimeZone %}
                    {%  include '/common/eventStartEndLine.html.twig' with { 'start':event.start, 'end':event.end, 'timezone': event.timezone.code } %}
                {%  else %}
                    {%  include '/common/eventStartEndLine.html.twig' with { 'start':event.start, 'end':event.end, 'timezone': event.timezone.code, 'showTimeZone': true } %}
                    {%  include '/common/eventStartEndLine.html.twig' with { 'start':event.start(userTimeZone), 'end':event.end(userTimeZone), 'timezone': userTimeZone, 'showTimeZone': true } %}
                {%  endif %}
            {%  endif %}

            <div>
                {{ event.timezone.title }}
            </div>


            {%  if event.hasReoccurence %}

                <div>
                    <a class="button" href="{{ path('account_public_event_show_event_series',{'account_username':account.username,'event_id': event.id }) }}">View all occurrences</a>
                </div>

            {%  endif  %}

            {%  if eventHasImports or eventHasSourceEvents  %}

                <h3>Source</h3>

                {% for eventHasImport in eventHasImports %}
                    <p>
                        This was imported from <a href="{{ eventHasImport.import.url }}" target="_blank">{{ eventHasImport.import.title }}</a>
                    </p>
                    <p>{{  eventHasImport.import.description | nl2br | linkify }}</p>
                {% endfor %}

                {% for eventHasSourceEvent in eventHasSourceEvents %}

                    <p>
                        This event was taken from account
                        {%  if eventHasSourceEvent.sourceEvent.account.getAccountLocal() %}
                            <i class="fas fa-user"></i> {{  eventHasSourceEvent.sourceEvent.account.title }} ({{  eventHasSourceEvent.sourceEvent.account.accountLocal.username }})
                            {%  if eventHasSourceEvent.sourceEvent.privacy == 0 %}
                                <a href="{{ path('account_public_event_show_event',{'account_username':eventHasSourceEvent.sourceEvent.account.accountLocal.username,'event_id':eventHasSourceEvent.sourceEvent.id}) }}" class="button" role="button">View</a>
                            {%  else %}
                                <a href="{{ path('account_public',{'account_username':eventHasSourceEvent.sourceEvent.account.accountLocal.username}) }}" class="button" role="button">View</a>
                            {%  endif %}
                        {%  else %}
                            TODO A REMOTE ACCOUNT
                        {%  endif %}
                    </p>

                {% endfor %}

            {%  endif %}

            <a class="button" href="{{ url('api1_account_events_show_event_json',{'account_id':account.id ,'event_id':event.id}) }}"><i class="fas fa-download"></i> Export JSON</a>


            {%  for addToAccountData in addedToAccountsUserManages %}
                {%  if addToAccountData.event %}
                    <a class="button"
                       href="{{ path('account_manage_event_show_event',{'account_username':addToAccountData.account.username,'event_id': addToAccountData.event.id }) }}"
                    >
                        Already added to your account ({{ addToAccountData.account.username }})
                    </a>
                {%  else %}
                    <a class="button"
                       href="{{ path('account_manage_discover_event_add',{'account_username':addToAccountData.account.username, 'discover_account_id':account.id,'discover_event_id': event.id }) }}"
                    >
                        <i class="fas fa-plus"></i> Add to my events ({{ addToAccountData.account.username }})
                    </a>

                {%  endif %}
            {%  endfor %}

        </div>

    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
