{%  extends "account/public/base.html.twig" %}

{% block account_public_to_manage_url %}{{ path('account_manage_event_edit_show_event_series',{'account_username':account.username,'event_id':event.id}) }}{% endblock %}

{% block body %}


    <div class="content">
        <h2>{{  event.title }}</h2>
    </div>

    {%  if event.deleted %}
        <div class="fullWidthNotice">
            <div class="content">
                <h3>Deleted!</h3>
            </div>
        </div>
    {%  elseif event.cancelled %}
        <div class="fullWidthNotice">
            <div class="content">
                <h3>Cancelled!</h3>
            </div>
        </div>
    {%  endif %}

    <div class="content">
        <h3>Reoccurs</h3>

        <p>RRULE: {{  event.rrule }}</p>

        <table class="table">
            <tr>
                <th>Start</th>
                <th>End</th>
                <th></th>
            </tr>
            {%  for eventOccurrence in eventOccurrences %}
                <tr>
                    <td>{{ eventOccurrence.start(userTimeZone)|date("D F jS Y g:ia" ) }}</td>
                    <td>{{ eventOccurrence.end(userTimeZone)|date("D F jS Y g:ia")  }}</td>
                    <td>
                        <a class="button"
                           href="{{ path('account_public_event_show_event',{'account_username':account.username,'event_id': eventOccurrence.event.id }) }}?startutc={{ eventOccurrence.start('UTC')|date("Y-m-d-H-i-s") }}">
                            View
                        </a>
                    </td>
                </tr>
            {%  endfor %}
        </table>
    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
