{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block subbanner %}
    <h2>
        Sign Up
    </h2>
{% endblock %}

{% block body %}


    <div class="content">

        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
            {{ form_row(form.magicWord) }}

            <button type="submit" class="button">Register!</button>
        {{ form_end(form) }}

    </div>

{%  endblock %}