{%  extends "account/manage/base.html.twig" %}

{% block body %}


    <div class="content">

        <h3>Your Events</h3>

        {%  if eventOccurrences %}

            <div class="highlightList">

                {% for eventOccurrence in eventOccurrences %}

                    <div class="listItem">
                        <h4>{{  eventOccurrence.event.title }}</h4>
                        <p>{{  eventOccurrence.event.description | u.truncate(event_list_description_truncate_limit, event_list_description_truncate_more, event_list_description_truncate_whole_words) | nl2br }}</p>
                        {%  include '/common/eventStartEndLine.html.twig' with { 'data':eventOccurrence, 'timezone': userTimeZone , 'showTimeZone': true  } %}
                        <a class="button"
                                {%  if  eventOccurrence.event.hasReoccurence %}
                                    href="{{ path('account_manage_event_show_event',{'account_username':account.username,'event_id': eventOccurrence.event.id }) }}?startutc={{ eventOccurrence.start('UTC')|date("Y-m-d-H-i-s") }}"
                                {%  else  %}
                                    href="{{ path('account_manage_event_show_event',{'account_username':account.username,'event_id': eventOccurrence.event.id }) }}"
                                {%  endif %}
                        >
                            Details
                        </a>
                    </div>


                {%  endfor %}

            </div>

            <a class="button" role="button" href="{{ path('account_manage_event',{'account_username':account.username}) }}"><i class="fas fa-calendar"></i> Your Events</a>

        {%  else %}

            <p>Add events you know about to promote them to your followers.</p>

            <a class="button" role="button" href="{{ path('account_manage_event_new',{'account_username':account.username}) }}"><i class="fas fa-plus"></i> Add an event</a>

        {%  endif %}


        {%  if discoverEventOccurrences %}

            <h3>Discover Events</h3>

            <div class="highlightList">

                {% for discoverEventOccurrence in discoverEventOccurrences %}

                    <div class="listItem">

                        <h4>{{  discoverEventOccurrence.event.title }}</h4>
                        <p>{{  discoverEventOccurrence.event.description | u.truncate(event_list_description_truncate_limit, event_list_description_truncate_more, event_list_description_truncate_whole_words) | nl2br }}</p>
                        {%  include '/common/eventStartEndLine.html.twig' with { 'data':discoverEventOccurrence, 'timezone': userTimeZone , 'showTimeZone': true  } %}
                        <a class="button"
                                {%  if  discoverEventOccurrence.event.hasReoccurence %}
                                    href="{{ path('account_manage_discover_event_show_event',{'account_username':account.username, 'discover_account_id':discoverEventOccurrence.event.account.id,'discover_event_id': discoverEventOccurrence.event.id }) }}?startutc={{ discoverEventOccurrence.start('UTC')|date("Y-m-d-H-i-s") }}"
                                {%  else  %}
                                    href="{{ path('account_manage_discover_event_show_event',{'account_username':account.username, 'discover_account_id':discoverEventOccurrence.event.account.id,'discover_event_id': discoverEventOccurrence.event.id }) }}"
                                {%  endif %}
                        >
                            Details
                        </a>

                    </div>

                {%  endfor %}

            </div>

            <a class="button" role="button" href="{{ path('account_manage_discover_event',{'account_username':account.username}) }}"><i class="fas fa-eye"></i> Discover Events</a>


        {%  endif %}

        <h3>Follow other people</h3>

        <p>Follow other people to discover their events.</p>

        <a href="{{ path('account_manage_new_follow_local',{'account_username':account.username}) }}" class="button" role="button"><i class="fas fa-walking"></i> Follow Another Account on this server</a>
        {%  if instance_federation %}
            <a href="{{ path('account_manage_new_follow_remote',{'account_username':account.username}) }}" class="button" role="button"><i class="fas fa-walking"></i> Follow Another Account on another server</a>
        {%  endif %}

    </div>


{% endblock %}
